
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Conversão Galao x Litro</title>
</head>
<body>
    <h1>Conversão Galão x Litro</h1>
    <h1>Canal .NET</h1>
    <form action="/" method="post">
        <input type="text" name="txtGalao" />
        <input type="submit" name="btnSubmit" value="Calcular" />
        @if (ViewBag.ResultadoConversao != null)
        {
            <h2>Resultado da Conversão: <span id="lblResultado" style="color:blue;">@ViewBag.ResultadoConversao</span> Litros</h2>
        }
    </form>
</body>
</html>
